.drone-card {
    transition: transform 0.2s;
}

.drone-card:hover {
    transform: scale(1.05);
}

.image-container {
    overflow: hidden;
}

.drone-image {
    transition: opacity 0.3s ease;
}

.image-container:hover .drone-image {
    opacity: 0.7; 
}

.drone-card {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.drone-card.show {
    opacity: 1;
    transform: translateY(0);
}