.container-info-client{
    background-color: lightgray;
    padding: 30px;
}

.title-dashboard{
    font-weight: 900;
    font-size: 32px;
    font-family: var(--font-primary);
}

.container-title{
    display: flex;
    justify-content: space-between;
}

.container-title span:hover, .container-title-personnal-info span:hover{
    cursor: pointer;
}

.container-title-personnal-info{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-title-personnal-info h2, .container-title-order h2{
    font-size: 18px;
    font-weight: 600;
    font-family: var(--font-primary);
    margin: 0;
}

.container-title-order h2{
    margin-top: 30px;
}

.list-personnal-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item-personnal-info{
    display: flex;
    align-items: center;
    gap: 20px;
}

.item-personnal-info p{
    margin: 0;
}

.text-order-empty{
    margin-top: 20px;
}

.input-personnal-info{
    background-color: #f0f0f0;
    border: 0;
    padding: 5px;
    width: 250px;
}

.editing-mode{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input:focus{
    outline: none;
}

.button-update{
    background-color: #000;
    border: 0;
    color: #f0f0f0;
    padding: 5px 20px;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.container-list-order{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-top: 30px;
}

.order-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F0F0F0;
    padding: 10px;
    border-radius: 10px;
}

.container-left-order-item p, .container-right-order-item p{
    margin: 0;
    color: #000;
}

.container-left-order-item p:nth-child(1){
    font-weight: 800;
}

@media (max-width: 800px) {

    .container-list-order{
        grid-template-columns: repeat(2, 1fr);
    }


}

@media (max-width: 700px) {

    .title-dashboard{
        font-size: 24px;
    }

    .container-title-personnal-info h2{
        font-size: 17px;
    }


}

@media (max-width: 450px) {

    .container-list-order{
        grid-template-columns: repeat(1, 1fr);
    }


}