.container-about{
    display: flex;
    justify-content: center;
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    height: 600px;
    scrollbar-width: none;
    margin: 0 40px;
    margin-top: 50px;
}

.container-about::-webkit-scrollbar {
    display: none; 
}

.about-sujet{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 280px;
    min-width: 250px;
    text-align: center;
    font-family: var(--font-primary);
    padding: 20px;
    box-sizing: content-box;
}

.about-sujet h3{
    font-size: 22px;
    font-weight: 900;
    color: var(--color-primary);
}

.about-sujet p, .about-sujet li{
    font-size: 16px;
    line-height: 30px;
}



.about-sujet img{
    width: 44px;
    height: 44px;
    object-fit: cover;
    margin-bottom: 24px;
}

.text-bold{
    font-weight: 700;
}

@media screen and (max-width: 1400px) {
    .about-sujet h3{
        font-size: 18px;
    }

}

@media screen and (max-width: 1200px) {


    
}