.custom-calendar-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    background: #f9f9f9;
    font-family: 'Poppins', sans-serif;
}

.container-quantity{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.container-quantity p{
    margin: 0;
}

.container-quantity-btn{
    display: flex;
    gap: 10px;
    height: 30px;
}

.container-quantity-btn button{
    height: 30px;
    width: 30px;
    border: 1px solid grey;
    font-weight: 700;
    transition: all .3s;

    &:hover{
        cursor: pointer;
        background-color: #000;
        color: #fff;
    }
}

.price, .subtitle-calendar{
    text-align: end;
}

.price{
    font-weight: 700;
}

.calendar-inputs {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}

abbr{
    text-decoration: none!important;

    &:hover{
        cursor: default!important;
    }
}

.custom-calendar {
    border: none;
    width: 100%;
}

.react-calendar__month-view__weekdays__weekday {
    font-weight: 600;
    font-size: 0.85rem;
    color: #333;
    padding: 8px 0;
    text-transform: uppercase;
    background: #f0f0f0;
    margin-bottom: 5px;
    text-decoration: none;
}

.react-calendar__tile {
    font-size: 1rem;
    color: #333;
    padding: 10px;
    border-radius: 0;
    background-color: transparent;
}

.react-calendar__tile--disabled {
    color: #aaa;
    background-color: transparent;
    cursor: default;
}

.react-calendar__tile--active {
    background-color: #444;
    color: white;
    border-radius: 0;
}

.react-calendar__tile--rangeStart,
.react-calendar__tile--rangeEnd {
    background-color: #000!important;
    color: white!important;
}

.react-calendar__tile--range {
    background-color: #ddd;
    color: #333;
}

.react-calendar__tile--now {
    background-color: transparent;
    color: #333;
    font-weight: normal;
}

.text-danger {
    color: #e74c3c;
    font-weight: bold;
    margin-top: 10px;
}