body {
    padding-top: 100px;
}

/* Header.css */
@media (max-width: 768px) {
    .navbar-nav .nav-link {
        font-size: 0.9rem; /* Ajuster la taille de police sur les petits écrans */
    }
    
    .navbar-brand img {
        height: 60px; /* Réduire la taille du logo sur les petits écrans */
    }
}

